@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
*{
    margin: 0;
    padding: 0;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    box-sizing: border-box;
}
body{
    position: relative;
    min-height: 100vh;
    background: rgb(246, 246, 246);
}
img{
    width: 100%;
}
.wrapper{
    max-width: 400px;
    width: 100%;
    margin: 0 20px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50);
    -moz-transform: translate(-50);
    -ms-transform: translate(-50);
    -o-transform: translate(-50);
    background: #fff;
}
.wrapper > h1{
    font-family: 'Akaya Kanadaka', cursive;
    padding: 10px 0;
    padding-bottom: 20px;
}
.image img{
    border-radius: 10px;
    margin-bottom: 15px;
}
.input_wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input_wrapper input{
    padding: 10px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 6px 0;
}
.input_wrapper input:focus{
    border: 1px solid rgba(0, 0, 0, 0.397);
}
.btn{
    background: #000;
    padding: 10px 20px;
    outline: none;
    color: #fff;
    font-family: 'Akaya Kanadaka', cursive;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
}
.btn:hover{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
}